<div class="row">
  <div class="col-sm-10 offset-sm-1">

    <div class="card">
      <div class="card-header"><%= t('.title', resource: resource_class.model_name.human) %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group row">
              <%= f.label :email, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <small class="form-text text-muted">
                    <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
                  </small>
                <% end %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                <small class="form-text text-muted">
                  <%= t('.leave_blank_if_you_don_t_want_to_change_it') %><br />
                </small>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <%= f.label :current_password, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
                <small class="form-text text-muted">
                  <%= t('.we_need_your_current_password_to_confirm_your_changes') %>
                </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t('.update'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header"><%= t '.cancel_my_account' %></div>
      <div class="card-block">
        <p><%= t('.unhappy') %></p>
        <p><%= button_to t('.cancel_my_account'), user_registration_path, data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-default"  %></p>
      </div>
    </div>
  </div>
</div>
