<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header"><%= t('.sign_up') %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group row">
              <%= f.label :email, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password_confirmation, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
