<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-header"><%= t('.resend_unlock_instructions') %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group row">
              <%= f.label :email, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t('.resend_unlock_instructions'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
