<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-header"><%= t('.change_your_password') %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group row">
              <%= f.label :password, t('.new_password'), class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password_confirmation, t('.confirm_new_password'), class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t('.change_my_password'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
