<div class="row">
  <div class="col-sm-10 offset-sm-1">

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs float-xs-left">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#current-wichtelrunden"><%= t ".current_wichtelrunde" %></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#past-wichtelrunden"><%= t ".past_wichtelrunden" %></a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="current-wichtelrunden" role="tabpanel">
          <% unless @current_wichtelrunden.empty? %>
            <div class="card-block">
              <p class="card-text"><%= t ".current_copy" %></p>
            </div>
            <ul class="list-group list-group-flush">
              <% @current_wichtelrunden.each do |wichtelrunde| %>
                <a href="<%= url_for wichtelrunde_path(wichtelrunde) %>" class="list-group-item list-group-item-action">
                  <h5 class="list-group-item-heading"><%= wichtelrunde.name %></h5>
                  <p class="list-group-item-text"><%= t ".wichtelrunde_excerpt", participants_count: wichtelrunde.wichtels.count, register_until: l(wichtelrunde.register_until) %></p>
                </a>
              <% end %>
            </ul>
          <% else %>
            <div class="card-block">
              <div class="alert alert-warning wichteln-card-alert" role="alert">Es gibt keine aktuellen Wichtelrunden!</div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="past-wichtelrunden" role="tabpanel">
          <% if @past_wichtelrunden.empty? %>
            <div class="card-block">
              <div class="alert alert-warning wichteln-card-alert" role="alert">Es gibt keine vergangenen Wichtelrunden!</div>
            </div>
          <% else %>
            <div class="card-block">
              <p class="card-text"><%= t ".past_copy" %></p>
            </div>
            <ul class="list-group list-group-flush">
              <% @past_wichtelrunden.each do |wichtelrunde| %>
                <%= link_to wichtelrunde_path(wichtelrunde), class: "list-group-item list-group-item-action" do %>
                  <h5 class="list-group-item-heading"><%= wichtelrunde.name %></h5>
                  <p class="list-group-item-text"><%= t ".wichtelrunde_excerpt", participants_count: wichtelrunde.wichtels.count, register_until: l(wichtelrunde.register_until) %></p>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <%= t ".instructions_headline" %>
      </div>
      <div class="card-block">
        <%= markdown t(".instructions") %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <%= t ".invite_headline" %>
      </div>
      <div class="card-block">
        <p><%= t ".invite_copy" %></p>

        <hr />

        <div class="container">
          <div class="col-sm-8 offset-sm-2">
            <div class="container">
              <%= form_tag invite_path do %>
                <div class="form-group row">
                  <%= label_tag :email, t('.invite_email'), class: "col-sm-4 col-form-label" %>
                  <div class="col-sm-8">
                    <%= email_field_tag :email, '', class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-8 offset-sm-4">
                    <%= submit_tag t('.invite_submit'), class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>