<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <h2 class="wichteln-page-headline"><%= @wichtelrunde.name %></h2>

    <div class="card">
      <div class="card-header"><%= t ".partner_headline" %></div>
      <div class="card-block">
        <p><%= t ".partner_copy", ship_until: l(@wichtelrunde.ship_until) %></p>
        <dl class="row">
          <dt class="col-sm-2"><%= t ".receiver" %></dt>
          <dd class="col-sm-10"><pre><%= @wichtel.shipping_address %></pre></dd>
        </dl>

        <hr />

        <p><%= t ".confirm_copy" %></p>

        <div class="container">
          <%= form_tag sender_wichtelrunde_path(@wichtelrunde, @wichtel.lot_uuid), method: "PUT" do %>
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= hidden_field_tag "wichtel[shipped]", nil %>
                <%= check_box_tag "wichtel[shipped]", 1, @wichtel.shipped, id: :shipped %>
                <%= label_tag :shipped, t(".shipped_label") %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= submit_tag t(".shipped_save"), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>