<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <%= link_to t(".back"), :back, class: "wichteln-back-link" %>
    <br />

    <h2 class="wichteln-page-headline"><%= @wichtelrunde.name %></h2>

    <div class="card">
      <div class="card-header"><%= t ".rules_headline" %></div>
      <div class="card-block">
        <dl class="row">
          <dt class="col-sm-3"><%= t ".register_until" %></dt>
          <dd class="col-sm-9"><%= l @wichtelrunde.register_until %></dd>
          <dt class="col-sm-3"><%= t ".ship_until" %></dt>
          <dd class="col-sm-9"><%= l @wichtelrunde.ship_until %></dd>
          <dt class="col-sm-3"><%= t ".participants_count" %></dt>
          <dd class="col-sm-9"><%= t ".participants_counter", count: @wichtelrunde.wichtels.count %></dd>
          <dt class="col-sm-3"><%= t ".participation_status" %></dt>
          <dd class="col-sm-9">
            <% if @wichtel.new_record? %>
              <%= t ".not_participating" %>
            <% else %>
              <%= t ".is_participating" %>
              <% unless @wichtelrunde.registration_over %>
                <%= link_to t('.remove_participation'), [@wichtelrunde, @wichtel], data: { confirm: t(".are_you_sure") }, method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            <% end %>
          </dd>
          <% if @wichtelrunde.registration_over %>
            <dt class="col-sm-3"><%= t ".shipping_status" %></dt>
            <dd class="col-sm-9">
              <% if @wichtel.shipped %>
                <%= t ".is_shipped" %>
              <% else %>
                <%= t ".not_shipped" %>
              <% end %>
            </dd>
          <% end %>
        </dl>

        <% unless @wichtelrunde.rules.empty? %>
          <hr />
          <p><%= t ".rules_furthermore" %></p>
          <%= markdown @wichtelrunde.rules %>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <%= t ".participate_headline" %>
      </div>
      <div class="card-block">
        <% if @wichtelrunde.registration_over %>
          <div class="alert alert-warning" role="alert"><%= t ".registration_is_over" %></div>
        <% else %>
          <p><%= t ".registration_copy", register_until: l(@wichtelrunde.register_until) %></p>

          <hr />

          <div class="container">
            <div class="col-sm-8 offset-sm-2">
              <div class="container">
                <%= form_for [@wichtelrunde, @wichtel] do |f| %>
                  <div class="form-group row">
                    <%= f.label :shipping_address, t('.form_address'), class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-9">
                      <%= f.text_area :shipping_address, class: "form-control", rows: 5, placeholder: t(".form_address_placeholder") %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                      <%= submit_tag t('.form_participate'), class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
 </div>