<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header"><%= t 'devise.invitations.edit.header' %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :invitation_token %>

            <fieldset disabled>
              <div class="form-group row">
                <%= f.label :email, class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                  <%= f.email_field :email, class: "form-control" %>
                </div>
              </div>
            </fieldset>

            <% if f.object.class.require_password_on_accepting %>
              <div class="form-group row">
                <%= f.label :password, class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                  <%= f.password_field :password, class: "form-control", autofocus: true %>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :password_confirmation, class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
              </div>
            <% end %>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

