<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header"><%= t "devise.invitations.new.header" %></div>
      <div class="card-block">

        <div class="container">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
            <%= devise_error_messages! %>

            <% resource.class.invite_key_fields.each do |field| -%>
              <div class="form-group row">
                <%= f.label field, class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                  <%= f.text_field field, class: "form-control" %>
                </div>
            <% end -%>

            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

