Halli hallo!

Die Wichtelrunde "<%= @wichtelrunde.name %>"" ist soweit,
dass Geschenke verpackt und versendet werden können!

Um zu sehen, an wen du etwas verschicken darfst, klicke bitte auf folgenden
Link: <%= sender_wichtelrunde_url(@wichtelrunde, @uuid) %>

Den Status von deinem Wichtelgeschenk kannst du unter folgender Adresse
überprüfen: <%= url_for @wichtelrunde %>

Grüße und bis bald!