/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.wichteln-navbar {
	margin-bottom: 15px;

	@media screen and (min-width: 480px) {
		margin: 60px 0;
	}
}

.wichteln-card-alert {
	margin-bottom: 0;
}

.wichteln-page-headline {
	margin-bottom: 25px;
}

.wichteln-back-link {
	display: block;
	margin-top: -24px;
}