<!DOCTYPE html>
<html>
  <head>
    <title>Wichteln</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-dark bg-inverse wichteln-navbar">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a class="navbar-brand" href="<%= url_for root_path %>">Wichteldings</a>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to t(".nav_home"), root_path, class: "nav-link" %>
            </li>
          </ul>

          <% if user_signed_in? %>
            <ul class="nav navbar-nav float-sm-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="<%= url_for edit_user_registration_path %>" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
                <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                  <a class="dropdown-item" href="<%= url_for edit_user_registration_path %>"><%= t ".nav_edit_account" %></a>
                  <%= link_to t(".nav_logout"), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav float-sm-right">
              <li class="nav-item"><%= link_to t(".nav_login"), new_user_session_path, class: "nav-link" %></li>
            </ul>
          <% end %>
        </div>
      </nav>

      <% if notice %>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="alert alert-success" role="alert"><%= notice %></div>
          </div>
        </div>
      <% end %>

      <% if alert %>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="alert alert-warning" role="alert"><%= alert %></div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
